@font-face {
  font-family: "Travels";
  src: url("~/assets/fonts/TTTravels-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Travels";
  src: url("~/assets/fonts/TTTravels-DemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Travels";
  src: url("~/assets/fonts/TTTravels-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Travels";
  src: url("~/assets/fonts/TTTravels-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Travels";
  src: url("~/assets/fonts/TTTravels-Regular.ttf") format("truetype");
  font-weight: 400;
}
